@page "/"
<style>
    body {
        background-color: #343a40;
        color: #ffffff;
    }

    .container {
        background-color: #495057;
        padding: 20px;
        border-radius: 5px;
    }

    .form-control {
        background-color: #6c757d;
        color: #ffffff;
        border: 1px solid #495057;
    }

    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
    }

    .form-group-slider {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

        .form-group-slider input[type="range"] {
            width: 100%;
            margin-top: 10px;
        }

    select.form-control {
        background-color: #6c757d;
        color: #ffffff;
        border: 1px solid #495057;
    }

        select.form-control:focus,
        select.form-control:active {
            background-color: #6c757d;
            color: #ffffff;
            border-color: #495057;
        }

        select.form-control option {
            background-color: #495057;
            color: #ffffff;
        }
</style>

<PageTitle>Home</PageTitle>

<h1>DB Benchmark</h1>
by Taras Taranko